{% extends 'base.html.twig' %}

{% block title %}Available Competitions{% endblock %}

{% block body %}
      <h1>Available Competitions</h1>

    {% if competitions is empty %}
        <p>No competitions available at the moment.</p>
    {% else %}
        <div class="row">
            {% for competition in competitions %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body" id="competition-item-container-{{ competition.id }}">
                            {% include 'public/_competition_item.html.twig' with {'competition': competition} %}
                        </div>
                        <p><a href="{{ path('public_competition_submit', {'id': competition.id}) }}">Δήλωση Συμμετοχής</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% block javascripts %}
    {{ parent() }}
    {# TODO: Move below to JS file #}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const mercurePublicUrl = "{{ mercure_public_url }}";
            console.log("Mercure Public URL:", mercurePublicUrl);

            {% for competition in competitions %}
                ((id) => { 
                    const competitionId = id;
                    const topic = `${mercurePublicUrl}?topic=/competitions/${competitionId}`;

                    console.log(`Subscribing to Mercure topic: ${topic}`);

                    let eventSource = new EventSource(topic);

                    eventSource.onmessage = event => {
                        const data = JSON.parse(event.data);
                        console.log(`Mercure update for Competition ID ${competitionId}:`, data);

                        const competitionContainer = document.getElementById(`competition-item-container-${competitionId}`);

                        if (competitionContainer && data.html) {
                            competitionContainer.innerHTML = data.html;
                            console.log(`Competition ID ${competitionId} HTML updated.`);
                        }
                    };

                    eventSource.onerror = error => {
                        console.error(`Mercure EventSource error for Competition ID ${competitionId}:`, error);
                        eventSource.close();
                    };
                })({{ competition.id }});
            {% endfor %}
        });
    </script>
{% endblock %}
{% endblock %}
